.awaaz_container{
 
margin-top: 40px;
width:1128px;
}

.awaaz_heading{
    font-family:Inter;
    font-size:26px;
    line-height:32px;
    line-height: 32px ;
    font-weight: bold; 
    padding:0px 30px
   
}
.awaaz_subheading{
font-family: Inter;
font-style: Regular;
font-size: 16px;
line-height: 24px;
color:#808080;
padding:0px 30px
 
}

.awwaz_raise{
    width:1128px;
    height:440px;
   margin-left: 22px;
   background-color: #F5FCFF;

 
     
}
.awwaz_compartment{
    padding: 30px;
    line-height:35px ; 
    .ant-typography{
     font-family: Inter;
     font-style: Semi Bold;
      font-size: 14px;
      line-height: 20px;
      color:#10002E;
      padding:100px  10px;
    
      font-weight:600
   }
 }
 .aawaz_input{
    height:107px;
    
 }
 .awaaz_logo{
    display: flex;
    justify-content: space-between;
 }
.btn{
    text-align: center;
    padding:80px
   
}
 .awz_btn{
     height:54px;
    border-radius: 8px;
    background-color: #007AFF;
    width:186px;
    color:white;
    font-weight:500 ;
 }
 .awaaz_text{
    .ant-typography{
        color: #64748B
    }

 }
 .logo{
    width: 58px;
 }