@import "../../styles/variable.scss";
@import "../../styles/mediaQuery.scss";

.nav{
    background: $text-color-white;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 20px 40px;
    border-bottom: 1px solid #bfbfbf;

    @include mq500px
    {
      display:flex;
      justify-content:space-between;
      align-items: center;
      padding: 20px 0px 22px 18px;
      height: 3.5rem;
    }
    .search{
        height: 2.5rem;
        width: 23.375rem;
        // margin: 1.2rem 0 0 3rem;
        border-radius: 0.4rem;
        @include mq500px
        {
          display: none;
        }
    }
    .mobile_logo{
       display:none;
       @include mq500px{
        display:block;
        margin-left:40%
       }
       
       }
       .menu_button{
        display: none;
      }
    .nav_noti{
       background: $text-color-white;
        width: 20%;
       display: flex;
       align-items: center;
       margin-left: 30px;
       justify-content: space-evenly;
        .help_icon{
            width: 45px;
               height: 45px;
               border-radius: 50%;
               display: inline-block;
               text-align: center;
              padding: 0.47rem;
               background-color: $background-blue;
        }
        .nav_icons{
            width: 45px;
               height: 45px;
               border-radius: 50%;
               display: inline-block;
               text-align: center;
              padding: 0.67rem;
              border: 2px solid #C3D4E9;
              .chat_icon{
                color: $color-primary;
                font-size: 24px
              }

        }
        .bell_icons{
          width: 45px;
         height: 45px;
         border-radius: 50%;
         display: inline-block;
         text-align: center;
        padding: 0.60rem;
        border: 2px solid #C3D4E9; 
        .chat_icon{
          color: #1C1B1F;
          font-size: 24px
        }    
        }
    }

}
.noti_msg {
  display: flex;

}

.noti_msg img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
}
.noti_msg div{
  padding: 12px;
line-height: 5px;
}
.noti_noti {
  display: flex;
}

.noti_noti img {
  width: 70px; 
  height: 70px; 
  border-radius: 50%; 
}
.noti_noti div{
  padding: 18px;
line-height: 5px;
}



@media ( max-width: 500px) {
    .nav {
        
           .search {
              
           }
           .mobile_logo{
            
           }
           .menu_button{
            display: block;
            color: #4E4B66;
            font-size: 20px; 
          }
           .nav_noti{
               background: #FFFFFF;
                width: 28%;

                .help_icon:first-child {
                   display: none;
                 }
                .nav_icons{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 2px solid #C3D4E9;
                      padding: 0.25rem;

                    align-items: center;
                    .chat_icon{
                      font-size: 15px
                    }


                }
                .bell_icons{  
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  border: 2px solid #C3D4E9;
                    padding: 0.13rem;

                  align-items: center;
                  .chat_icon{
                    font-size: 15px
                  }
                }
            }

        }

  }