.maincontainer{
    max-height: 200px;
    overflow: hidden;
}
.fc-toolbar-title{
color: #1560BD;
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: justified;   
}
